header {
  background-color: #FFFFFF; 
  height: 70px; 
  width: 100%;
  border-bottom: 1px solid #CCCCCC;
}

header::before {
  content:url(../images/logo.png);
  position: absolute;
  top: 35px;
  left: 20px;
  transform: translateY(-50%);
}
